.gallery-scroll {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  gap: 0.5rem;
  padding-bottom: 10px;
}

.gallery-scroll > div {
  scroll-snap-align: start;
}
  