body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

h4 {
  color: white;
}

img {
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
}

img:hover {
  transform: scale(1.1);
}

.navbar, footer {
  background-color: black;
}

footer .bi {
  color: white;
}

footer .bi:hover {
  color: #e50914;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  background-color: black;
  color: white;
}

main h4{
  color:white;
}

